body{
    margin: 0px;
}

#game_grid{
    border: 2px solid tomato;
    width: 600px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 10px;
    perspective: 1000px;
}

.card{
    width: calc(33.3% - 10px);
    position: relative;
    transition: transform 3s;
    transform-style: preserve-3d;
    
}

img{
    width: 100px;
    height: 125px;
}

.front_face, .back_face{
    position: absolute;
    width: 100%;
    height:100%;
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.front_face{
    transform: rotateY(180deg);
}